html
  head
    title Inu  Dance Academy
    block scripts
    block style
  body 
     nav#navbar
       ul 
          div#logo 
             img(src="/static/dancelogo.jpg")
             | IDA 
             
          li #[a(href="/") Home]
          li #[a(href="/") About] 
          li #[a(href="/contact") Contact us]
          li #[a(href="/") Services]
          li #[a(href="")  info] 
       


       block content
       block foot
       #footer
        | Copyright 2023 InuDance Academy | All Rights Reserved